<%- include('../includes/head.ejs') %>
<%- include('../includes/dashboard.ejs') %>


<br>

<div class="products">
    <div class="message">
        <p id="msg">Item has been added successfully</p>
    </div>

    <form class="product-form" action="/update-envelope" method="post">
        <input type="text" name="envelopeId" placeholder="Envelope ID">
        <br>
        <input type="text" name="category" placeholder="Category">
        <input type="number" name="totalAmount" placeholder="total Amount">
        <input type="number" name="spendingLimit" placeholder="Spending Limit">
        <br><br>
        <div class="update-button">
            <button id="submitBtn">Submit</button>
        </div>
    </form>
</div>

</div>
</body>

</html>